extends ./layout.jade
block contenido
	form(action="/users",method="POST")
		//- for asigna a objetos con id email un label
		div
			label(for="email") Email
			input(type="text",name="email", placeholder="Email",id="email")
		div
			label(for="password") Contraseña 
			input(type="password",name="password",placeholder="Password",id="password")
		div
			label(for="password") Confirma tu contraseña
			input(type="password",name="password_confirmation",placeholder="Password",id="password")
		div
			input(type="submit" value="Iniciar sesion" class="btn btn-info")