extends ./layout.jade
block contenido
	div(class="col-md-6 remove-float  center-block  big-top-center")
		form(action="/sessions",method="POST")
			//- for asigna a objetos con id email un label
			div(class="login")
				div
					label(for="email") Email
					input(type="text",name="email", placeholder="Email",id="email",, style="width:300px")
				div
					label(for="password") Contraseña 
					input(type="password",name="password",placeholder="Password",id="password", style="width:300px")
					div
					div
						input(type="submit" value="Iniciar sesion" class="btn btn-info")
						a(href="/singup" class="inline") No tengo cuenta

